.startClear {
  margin-bottom: 20px;
  border: none;
  height: 30px;
  width: 60px;
  border-radius: 8px;
}

.stateStart {
  background-color: #16a34a;
  color: white;
}

.stateClear {
  background-color: #dc2626;
  color: white;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100px;
  width: 75px;
}

.body {
  align-items: center;
}

.cell {
  width: 40px;
  height: 40px;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #929292;
}
