.startClear {
  margin-bottom: 10px;
  border: none;
  height: 30px;
  width: 60px;
  border-radius: 8px;
  color: white;
}

.stateStart {
  background-color: #16a34a;
}

.stateClear {
  background-color: #dc2626;
}

.gameboard {
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(3, 1fr);
  height: 100px;
  width: 75px;
}

.body {
  align-items: center;
}

.cell {
  width: 40px;
  height: 40px;
  align-items: center;
  background-color: #efefef;
  color: black;
  border-radius: 6px;
  border: none;
}

.winningCell {
  background-color: #dc2626;
  color: white;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}